[submodule "thirdparty/curl"]
	path = thirdparty/curl
	url = https://github.com/curl/curl.git
[submodule "thirdparty/zlib"]
	path = thirdparty/zlib
	url = https://github.com/madler/zlib.git
[submodule "thirdparty/libarchive"]
	path = thirdparty/libarchive
	url = https://github.com/libarchive/libarchive
[submodule "thirdparty/freetype"]
	path = thirdparty/freetype
	url = https://gitlab.freedesktop.org/freetype/freetype.git
[submodule "thirdparty/hatanaka"]
	path = thirdparty/hatanaka
	url = https://github.com/valgur/hatanaka.git
